<h1>Dashboard</h1>

<% for entry in @time_entries %>
  <div class="time_entry">
    <p class="start_time">Tracking since: <%= entry.start_time %></p>
    <p class="entry_time_counter" id="time-counter-<%= entry.id %>">00:00:00<p>
    <p class="entry_percent_counter" id="percent-counter-<%= entry.id %>">&nbsp;<p>
<%
entry_script = <<END
$(document).ready(function() {
  var start_date = new Date(
      #{entry.entry_date.year}, #{entry.entry_date.month}, #{entry.entry_date.day},
      #{entry.start_time.hour}, #{entry.start_time.min}, 0
    );

  var timer_#{entry.id} = $.timer(function() {
    var diff = new TimePeriod(start_date, new Date());
    $('#time-counter-#{entry.id}').text(time_period_string(diff));
  });

  timer_#{entry.id}.set({ time : 1000, autostart : true });
});
END
%>
    <%= javascript_tag entry_script %>
  </div>
<% end %>

<div>
<% if @time_entries.any? %>
  <%= form_for @tracking, :url => user_tracking_stop_path(@current_user, @tracking) do |form| %>
    <%= submit_tag 'Stop tracking', :class => 'btn' %>
  <% end %>
<% else %>
  <%= render :partial => 'partials/form_errors', :locals => { :model => @tracking } %>

  <%= form_for @tracking, :url => user_tracking_start_path(@current_user) do |form| %>

    <div class="input-prepend">
      <%= collection_select :tracking,
          :project_id,
          @current_user.projects,
          :id,
          :name,
          :prompt => '(Select a project)' %>
    </div>

    <div class="input-prepend">
      <%= form.text_area :note, :placeholder => 'Note',
            :rows => 4,
            :class => 'span3' %>
    </div>

    <%= submit_tag 'Start tracking', :class => 'btn' %>
  <% end %>
<% end %>
</div>
