<h1>Dashboard</h1>

<% for entry in @time_entries %>
  <div class="time_entry">
    <dl>
      <dt>Date</dt>
      <dd><%= entry.entry_date %></dd>
      <dt>Start time</dt>
      <dd><%= entry.start_time %></dd>
      <dt>Hours so far</dt>
      <dd><%= entry.time_in_hours.round 2 %></dd>
      <dt>Percent of day</dt>
      <dd><%= number_to_percentage entry.percent_of_day, :precision => 0 %></dd>
  </div>
<% end %>

<% unless @time_entries.any? %>
<div>
  <%= render :partial => 'partials/form_errors', :locals => { :model => @tracking } %>

  <%= form_for @tracking, :url => user_tracking_start_path(@current_user) do |form| %>

    <div class="input-prepend">
      <%= collection_select :tracking,
          :project_id,
          @current_user.projects,
          :id,
          :name,
          :prompt => '(Select a project)' %>
    </div>

    <div class="input-prepend">
      <%= form.text_area :note, :placeholder => 'Note',
            :rows => 4,
            :class => 'span3' %>
    </div>

    <%= submit_tag 'Start tracking', :class => 'btn' %>
  <% end %>
</div>
<% end %>
