<h1>Update profile</h1>

<%= render :partial => 'partials/form_errors', :locals => { :model => @user } %>

<%= form_for :user, :url => user_path(@user), :html => { :method => 'put' } do |form| %>

  <div class="input-prepend">
    <span class="add-on">A</span><%= form.text_field :name, :placeholder => 'Name' %>
  </div>

  <div class="input-prepend">
    <span class="add-on">*</span><%= form.password_field :password, :placeholder => 'Password' %>
  </div>

  <div class="input-prepend">
    <span class="add-on">**</span><%= form.password_field :password_confirmation, :placeholder => 'Password confirmation' %>
  </div>

  <%= submit_tag "Submit", :class => 'btn' %>
  &nbsp;
  <%= link_to 'Cancel', user_path(@user) %>

<% end %>

