<div class="input-prepend">
  <%= collection_select :time_entry,
        :project_id,
        @current_user.projects.order(:name),
        :id,
        :name,
        :prompt => '(Select a project)' %>
</div>

<div class="input-prepend">
  <%= form.text_field :entry_date_formatted, :placeholder => 'Date', :class => 'span3'  %>
</div>

<div class="input-prepend">
  <%= form.text_field :start_time_formatted, :placeholder => 'Start time', :class => 'span3'  %>
</div>

<div class="input-prepend">
  <%= form.text_field :end_time_formatted, :placeholder => 'End time', :class => 'span3'  %>
</div>

<div class="input-prepend">
  <%= form.text_area :note, :placeholder => 'Note',
        :rows => 4,
        :class => 'span3' %>
</div>
<%
script = <<END

$(document).ready(function() {
  $('#time_entry_entry_date_formatted').datepicker({
    firstDay: 1,
    dateFormat: '#{date_input_format_js}',
  });

  $('#time_entry_start_time_formatted, #time_entry_end_time_formatted').timepicker({
    timeFormat: '#{time_input_format_js}',
  });
});

END
%>
<%= javascript_tag script %>
