<% content_for :title, 'Monthly overview (%d/%d)' % [@start.month, @start.year] %>

<% if @entries.any? %>
  <table class="monthly_report">
    <tr>
      <th class="invisible">&nbsp;</th>
      <% for date in @start..@end %>
      <th class="<%= css_class_for_non_workday(date) %>">
        <%= date.day %>
      </th>
      <% end %>
    </tr>
    <tr>
      <td class="invisible">&nbsp;</td>
      <% for date in @start..@end %>
      <td class="<%= css_class_for_non_workday(date) %>">
        <%= @times[date.day.to_s.to_sym] %>
      </td>
      <% end %>
    </tr>
    <% @times_by_project.each do |project_name, time| %>
      <tr>
        <td class="project_name">
          <%= project_name %>
        </td>
        <% for date in @start..@end %>
          <% percent = (time[date.day.to_s.to_sym]/8).round(2) %>
          <td class="<%= css_class_for_non_workday(date) %> <%= css_class_for_empty_cell(percent) %>">
            <%= percent unless percent == 0 %>
          </td>
        <% end %>
      </tr>
    <% end %>
    <tr class="total_time">
      <td class="invisible">&nbsp;</td>
      <% for date in @start..@end %>
        <% percent = (@times[date.day.to_s.to_sym]/8).round(2) %>
        <td class="<%= css_class_for_non_workday(date) %> <%= css_class_for_percent(percent, date) unless date.future? or date.holiday?(:hr) %>">
          <%= percent %>
        </td>
      <% end %>
    </tr>
  </table>
  <div>
    <div>Work days: <%= @workdays %></div>
    <div>Hours required: <%= @workdays*8 %></div>
    <div>Total hours: <%= @times_sum.round 2 %></div>
    <div>Status: <%= (@times_sum - (@workdays*8)).round 2 %></div>
    <div>Percent completed: <%= number_to_percentage(
      (@times_sum / (@workdays*8) * 100), :precision => 2) %></div>
  </div>
<% else %>
  <div class="alert alert-error">
    No data for selected month
  </div>
<% end %>

<ul class="pager">
  <%= link_to 'Previous month', user_monthly_report_path(
          @current_user,
          @start.months_ago(1).year,
          @start.months_ago(1).month
        )
  %>

  <%= link_to 'Next month', user_monthly_report_path(
          @current_user,
          @start.months_since(1).year,
          @start.months_since(1).month
        )
  %>
</ul>
