<% content_for :title, 'Monthly breakdown by project (%d/%d)' % [@start.month, @start.year] %>

<% if @entries.empty? %>
  <div class="alert alert-error">
    No data for selected month
  </div>
<% end %>

<div id="chart-container">
</div>

<ul class="pager">
  <%= link_to 'Previous month', user_monthly_breakdown_by_project_report_path(
          @current_user,
          @start.months_ago(1).year,
          @start.months_ago(1).month
        )
  %>

  <%= link_to 'Next month', user_monthly_breakdown_by_project_report_path(
          @current_user,
          @start.months_since(1).year,
          @start.months_since(1).month
        )
  %>
</ul>

<script type="text/javascript">
$(function () {
    	
		Highcharts.getOptions().colors = Highcharts.map(Highcharts.getOptions().colors, function(color) {
		    return {
		        radialGradient: { cx: 0.5, cy: 0.3, r: 0.7 },
		        stops: [
		            [0, color],
		            [1, Highcharts.Color(color).brighten(-0.3).get('rgb')] // darken
		        ]
		    };
		});

        $('#chart-container').highcharts({
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: true
            },
            title: {
                text: '<%= yield(:title) %>'
            },
            tooltip: {
              formatter: function() {
                  return this.series.name + ': <b>'+ this.percentage.toFixed(2) +'%</b>';
              }
            },
            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        color: '#000000',
                        connectorColor: '#000000',
                        formatter: function() {
                            return '<b>'+ this.point.name +'</b>: '+ this.percentage.toFixed(2) +' %';
                        }
                    }
                }
            },
            series: [{
                type: 'pie',
                name: 'Percent of month',
                data: [
                    <% @entries.each do |project, percent| %>
                      ['<%= project %>', <%= percent.round 2 %>],
                    <% end %>
                ]
            }]
        });
    });
</script>
